<html>
  <head>
    <title>Oreo Cam</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="../static/css/style.css">
    <a href="https://github.com/MateoPeri/oreocam">El código está en GitHub!</a>
  </head>
  <body>
    <h1>Oreo Cam</h1>
    <img src="{{ url_for('video_feed') }}">
    <p></p>
    <!--<a href="{{ url_for('switch_light') }}">Luz</a>-->
    <div class='container'>
      <h3>CONTROLES</h3>
      <form action="#" target="dummyframe">
        <input type="password" id="pass-input">
        <button type="submit" onclick="javascript:validateUser();" id="pass-submit">Login</button>
        <br><div class="g-signin2" data-onsuccess="onSignIn"></div>
        <br><a href="#" onclick="signOut();">Sign out</a>
        <script>
          function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
              console.log('User signed out.');
            });
          }
        </script>
        <br>
        <p id="alerta"></p>
        <br>
        <div id="admin_panel">
          <!--<a href="#" id="luz_button" onclick="javascript:switch_light();"><button class='btn btn-default'>Luz</button></a>-->
          <a href="#"><button class='btn btn-default' id="luz_button" onclick="javascript:switch_light();">Luz</button></a>
          <h4>DEBUG</h4>
          <a href="#"><button class='btn btn-default' id="purge_button" onclick="javascript:purge_db();">Limpiar DB</button></a>
        </div>
      </form>
    </div>
    <div class='chat'>
      <h3>CHAT</h3>
      <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
      <form action="#" target="dummyframe">
        <div id="wrapper">
          <div id="menu">
              <p class="hola">Hola<b></b></p>
              <p class="refresh"><a id="exit" href="#" onclick="javascript:retrieve_msgs();">Refrescar el Chat</a></p>
              <div style="clear:both"></div>
          </div>
          <div id="chatbox"></div>
            
          <form name="message" action="#" target="dummyframe">
            <input type="text" id="chat_input" size="63"/>
            <!--<input type="submit" id="chat_submit" onclick="javascript:send_message();"/>-->
            <button type="submit" onclick="javascript:send_message();" id="chat_submit">Send</button>
          </form>
        </div>
        <!--<button type="submit" onclick="javascript:send_message();" id="chat_submit">Send</button>-->
      </form>
    </div>
    <script src="../static/js/jquery-3.4.1.js"></script>
    <script src="../static/js/js.cookie.js"></script>
    <script src="/static/js/date.format.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="/static/js/cam.js"></script>
    <meta name="google-signin-client_id" content="643864459973-vm48ife7v5k1dmmin80ff4rbqn82nc0t.apps.googleusercontent.com">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    -->
    <script type="text/javascript">
    $(document).ready(function(){
      $('#alerta').hide();
      $('#admin_panel').hide();
    });
    </script>
  </body>
</html>